<#--
  -- 템플릿 관리 > 등록 Template
  -- @included_in : _tmplat_def_reg_modal.ftlh
  -->

<script type="text/x-handlebars-template" id="tmplat_def_reg_template">
    <input type="hidden" class="form-control" name="tmplatDefNo" id="tmplatDefNo">
    <!--begin::Question-->
    <div class="mb-0">
        <!--begin::Head-->
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                <span class="cursor-help"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="코드를 특정할 때 내부적으로&#10;사용되는 고유 코드를&#10;입력합니다.&#10;(등록 후 수정할 수 없습니다.)">
                    템플릿 정의 코드
                </span>
                <em class="text-danger">*</em>
            </div>
            <div class="col-10">
                <input type="text" class="form-control {{#isMdf}}bg-secondary{{/isMdf}}" name="tmplatDefCd" id="tmplatDefCd" value="{{clCd}}" {{#isMdf}}readonly{{/isMdf}}
                    {{#isMdf}}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="분류코드는 수정할 수 없습니다."{{/isMdf}}>
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                <span class="cursor-help"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="외부적으로 사용되는&#10;코드 이름을 입력합니다.">
                    템플릿 정의명
                </span>
                <em class="text-danger pe-1">*</em>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="tmplatDefNm" id="tmplatDefNm" value="{{clCdNm}}">
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                템플릿 구분 코드
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="ctgrClCd" id="ctgrClCd" value="{{ctgrClCd}}">
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                템플릿 정의 설명
            </div>
            <div class="col-10">
                <textarea class="form-control h-75px" name="clCdDc">{{clCdDc}}</textarea>
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                사용여부
            </div>
            <div class="col-10">
                <div class="form-check form-switch mt-2 form-check-custom form-check-solid">
                    <input class="form-check-input ms-3" type="checkbox" value="Y" name="useYn" id="useYn" />
                    <label class="form-check-label fw-bold ms-3" for="useYn" id="useYnLabel">미사용</label>
                </div>
            </div>
            <!--end::Title-->
        </div>
        <!--end::Head-->
        <div class="row mb-4">
            <!--begin::Title-->
            <div class="col-2 col-form-label">
                정렬 순서
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="sortOrdr" id="sortOrdr" value="{{sortOrdr}}">
            </div>
            <!--end::Title-->
        </div>
    </div>
</script>