<#--
 * 템플릿 관리(tmplat) > 등록 Template
 * @included_in : _tmplat_def_reg_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="tmplat_def_reg_template">
    <input type="hidden" name="tmplatDefNo" id="tmplatDefNo">

    <!--begin::title-->
    <div class="mb-0">
        <#--begin::Head-->
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                <label class="cursor-help required"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="코드를 특정할 때 내부적으로&#10;사용되는 고유 코드를&#10;입력합니다.&#10;(등록 후 수정할 수 없습니다.)">
                    템플릿 정의 코드
                </label>
            </div>
            <div class="col-10">
                <input type="text" name="tmplatDefCd" id="tmplatDefCd" class="form-control {{#isMdf}}bg-secondary{{/isMdf}}"
                       {{#isMdf}}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="분류 코드는 수정할 수 없습니다."{{/isMdf}}
                       value="{{clCd}}" maxlength="50" {{#isMdf}}readonly{{/isMdf}}>
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                <label class="cursor-help required"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="외부적으로 사용되는&#10;코드 이름을 입력합니다.">
                    템플릿 정의명
                </label>
            </div>
            <div class="col-10">
                <input type="text" name="tmplatDefNm" id="tmplatDefNm" class="form-control"
                       value="{{clCdNm}}" maxlength="50">
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                템플릿 구분 코드
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="ctgrClCd" id="ctgrClCd"
                       value="{{ctgrClCd}}" maxlength="50">
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                템플릿 정의 설명
            </div>
            <div class="col-10">
                <textarea name="dc" id="dc" class="form-control h-75px">{{dc}}</textarea>
            </div>
            <!--end::Title-->
        </div>
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                사용여부
            </div>
            <div class="col-10">
                <div class="form-check form-switch mt-2 form-check-custom form-check-solid">
                    <input type="checkbox" name="useYn" id="useYn" class="form-check-input ms-3"
                           value="Y" />
                    <label class="form-check-label fw-bold ms-3" for="useYn" id="useYnLabel">미사용</label>
                </div>
            </div>
            <!--end::Title-->
        </div>
        <!--end::Head-->
        <div class="row mb-4">
            <#--begin::title-->
            <div class="col-2 col-form-label">
                정렬 순서
            </div>
            <div class="col-10">
                <input type="text" name="sortOrdr" id="sortOrdr" class="form-control"
                       value="{{sortOrdr}}" maxlength="3">
            </div>
            <!--end::Title-->
        </div>
    </div>
</script>