<#--
 * 메뉴(menu) > 카드 Template
 * @included_in : menu_page.ftlh
 -->

<script type="text/x-handlebars-template" id="menu_reg_modal_template">
    <!-- form start -->
    <input type="hidden" name="menuNo" id="menuNo" value="{{menuNo}}">
    <input type="hidden" name="menuTyCd" id="menuTyCd" value="{{menuTyCd}}">
    <input type="hidden" name="upperMenuNo" id="upperMenuNo" value="{{upperMenuNo}}">

    <#--begin::Row-->
    <div class="row mb-4">
        {{#if (equals menuTyCd "${Constant.MENU_TY_MAIN!}")}}
            <div class="col-2 text-center">
                <label for="menuNm" class="col-form-label fw-bold">
                    관리자 메뉴 여부
                </label>
            </div>
            <div class="col-10">
                <div class="form-check form-switch mt-2 form-check-custom form-check-solid">
                    <input type="checkbox" name="mngrYn" id="useYn" class="form-check-input"
                           value="Y" {{checkedYn mngrYn}} />
                    <label class="form-check-label ms-3" for="useYn" id="useYnLabel" {{checkedYnStyle mngrYn "color" "blue//gray"}}>
                        {{^ifYn mngrYn}}미{{/ifYn}}해당
                    </label>
                </div>
            </div>
        {{else}}
            <div class="col-2 text-center">
                <label for="menuNm" class="col-form-label fw-bold">
                    상위메뉴 이름
                </label>
            </div>
            <div class="col-10 col-form-label">
                <div class="ps-2 text-gray-600 ls-1">
                    {{upperMenuNm}}
                </div>
            </div>
        {{/if}}
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold required">
                메뉴 이름
            </label>
        </div>
        <div class="col-4">
            <input type="text" name="menuNm" id="menuNm" class="form-control d-inline-block required"
                   value="{{menuNm}}" maxlength="200" autocomplete="off">
            <span id="menuNm_validate_span"></span>
        </div>
        <div class="col-2 text-center">
            <label for="menuLabel" class="col-form-label fw-bold cursor-help"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="중메뉴 상단 라벨입니다.">
                메뉴 라벨
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-4">
            <input type="text" name="menuLabel" id="menuLabel" class="form-control d-inline-block"
                   value="{{menuLabel}}" maxlength="200" autocomplete="off">
            <span id="menuLabel_validate_span"></span>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold cursor-help"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                   title="사이드바에서 메뉴 옆에 표시될 아이콘을 입력합니다.&#10;(미입력시 기본 · 으로 표현됩니다.)">
                메뉴 아이콘
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-1 d-flex-center flex-column gap-3">
            <div id="menu_icon_div" class="cursor-pointer"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                 title="아이콘 미리보기입니다.">
                {{#if (exists icon)}}
                    {{{icon}}}
                {{else}}
                    -
                {{/if}}
            </div>
            <div class="btn btn-sm btn-icon btn-light-primary"
                 onclick="dF.Menu.refreshIcon();"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="아이콘을 미리보기합니다.">
                <i class="bi bi-arrow-repeat"></i>
            </div>
        </div>
        <div class="col-9">
            <textarea name="icon" id="icon" class="form-control form-control-solid d-block"
                      placeholder="아이콘 html을 입력하세요." maxlength="1000" rows="5" >{{icon}}</textarea>
            <div id="icon_validate_span"></div>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="url" class="col-form-label fw-bold">
                미열람 COUNT 변수명
            </label>
        </div>
        <div class="col-10">
            <input type="text" name="unreadCntNm" id="unreadCntNm" class="form-control"
                   value="{{unreadCntNm}}" maxlength="1000">
            <div id="url_validate_span"></div>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="url" class="cursor-help fw-bold required"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                   title="사이드바에서 하위 메뉴를&#10;표현할 방법을 선택합니다.">
                하위메뉴<br />표시 방식
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-3">
            <select name="menuSubExtendTyCd" id="menuSubExtendTyCd" class="form-select form-select-solid required"
                    onchange="dF.Menu.toggleUrlSpan(this);">
                <option value="">----</option>
                <#list MENU_SUB_EXTEND_TY_CD![] as menuSubExtend>
                    <option value="${menuSubExtend.dtlCd!}" {{selectedIf (equals menuSubExtendTyCd "${menuSubExtend.dtlCd!}")}}>
                        ${menuSubExtend.dtlCdNm!}
                    </option>
                </#list>
            </select>
            <div id="menuSubExtendTyCd_validate_span"></div>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4 {{^if (equals menuSubExtendTyCd "NO_SUB")}}d-none{{/if}}" id="url_div">
        <div class="col-2 text-center">
            <label for="url" class="col-form-label fw-bold">
                메뉴 URL
            </label>
        </div>
        <div class="col-10">
            <input type="text" name="url" id="url" class="form-control"
                   value="{{url}}" maxlength="1000">
            <div id="url_validate_span"></div>
        </div>
    </div>

    <div class="separator my-8"></div>

    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 col-form-label text-center">
            <label class="cursor-help fw-bold"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="'사용'으로 체크된 메뉴만&#10;실제 코드 사용시 조회됩니다.">
                사용 여부
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-10">
            <div class="form-check form-switch mt-2 form-check-custom form-check-solid">
                <input type="checkbox" name="state.useYn" id="useYn" class="form-check-input"
                       value="Y" {{checkedYn state.useYn}} />
                <label class="form-check-label ms-3" for="useYn" id="useYnLabel" {{checkedYnStyle state.useYn "color" "blue//gray"}}>
                    {{^ifYn state.useYn}}미{{/ifYn}}사용
                </label>
            </div>
        </div>
    </div>
</script>