<#--
 -- 상세 코드(dtl_cd) 등록/수정 Template
 -- @included_in : _dtl_cd_reg_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="dtl_cd_reg_template">
    <input type="hidden" name="clCd" value="{{clCd}}">
    <input type="hidden" name="regYn" value="{{#if (notExists dtlCd)}}Y{{/if}}{{#if (exists dtlCd)}}N{{/if}}">

    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <span class="cursor-help fw-bold required"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                  title="코드를 특정할 때 내부적으로&#10;사용되는 고유 코드를&#10;입력합니다.&#10;(등록 후 수정할 수 없습니다.)">
                상세 코드
                <i class="bi bi-question-circle"></i>
            </span>
        </div>
        <div class="col-4">
            {{#if (exists dtlCd)}}
            <div class="col-form-label">
                <span class="text-noti fw-bold ps-1">{{dtlCd}}</span>
                <input type="hidden" name="dtlCd" value="{{dtlCd}}">
            </div>
            {{/if}}
            {{#if (notExists dtlCd)}}
                <input type="text" name="dtlCd" id="dtlCd" class="form-control form-control-solid required"
                       value="{{dtlCd}}" maxlength="30">
                <div class="text-noti">※영문 대문자 및 숫자만 가능, 1~30자</div>
                <div id="dtlCd_validate_span"></div>
            {{/if}}
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold required"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                  title="외부적으로 사용되는&#10;코드 이름을 입력합니다.">
                상세 코드명
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-9">
            <input type="text" name="dtlCdNm" id="dtlCdNm" class="form-control form-control-solid required"
                   value="{{dtlCdNm}}" maxlength="20">
            <div id="dtlCdNm_validate_span"></div>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="fw-bold">상세 코드 설명</label>
        </div>
        <div class="col-9">
            <textarea name="dc" id="dc" class="form-control form-control-solid h-100px" wrap="hard" maxlength="1000" placeholder="게시판 설명을 입력합니다.">{{dc}}</textarea>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="'사용'으로 체크된 코드만&#10;메뉴에 노출됩니다.">
                사용 여부
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-9 text-center d-flex align-items-center">
            <div class="form-check form-switch form-check-custom form-check-solid">
                <input type="checkbox" name="state.useYn" id="useYn" class="form-check-input"
                       value="Y" {{checkedYn state.useYn}} />
                <label class="form-check-label ms-3" for="useYn" id="useYnLabel" {{checkedYnStyle state.useYn "color" "blue//gray"}}>
                    {{^ifYn state.useYn}}미{{/ifYn}}사용
                </label>
            </div>
        </div>
    </div>
</script>