<#--
 * 저널 꿈(jrnl_dream) 목록 조회 Template
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_dream_list_template">
    {{#each this}}
        <div class="row jrnl-item">
            <div class="col-1 py-3 jrnl-dream-cn d-flex justify-content-between border-2 border-gray-300 border-end ps-10 me-4 h-75" style="width:135px;">
                <div>
                    <i class="bi bi-calendar3"></i> {{stdrdDt}}
                </div>
            </div>
            <div class="col py-3 jrnl-dream-cn {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}">
                {{#ifYn imprtcYn}}<div class="ctgr-span ctgr-imprtc w-auto">!중요</div>{{/ifYn}}
                {{#ifYn nhtmrYn}}<div class="ctgr-span ctgr-info w-auto d-flex-center">!악몽</div>{{/ifYn}}
                {{#ifYn hallucYn}}<div class="ctgr-span ctgr-gray w-auto">!입면환각</div>{{/ifYn}}
                {{#if (exists title)}}<div class="d-inline-block fw-bold">{{title}}</div>{{/if}}
                {{{markdownCn}}}
                {{#if (exists tag.list)}}
                    <div class="ms-2 mt-3">
                        {{#tag.list}}
                            <span class="text-muted cursor-pointer pe-1"
                                  onclick="JrnlDreamTag.dtlModal({{refTagNo}});"
                                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                                  title="해당 태그가 등록된 게시물 목록 팝업을 호출합니다.">
                                #<span class="border-bottom text-primary fw-lighter opacity-hover">
                                    {{#if (exists ctgr)}}
                                        <span class="fs-7 text-noti">[{{ctgr}}]</span>
                                    {{/if}}
                                    {{tagNm}}
                                </span>
                            </span>
                        {{/tag.list}}
                    </div>
                {{/if}}
            </div>
            <div class="col-1 py-3 jrnl-dream-cn d-flex justify-content-between w-50px gap-1">
                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="dF.Comment.modal.regModal({{postNo}}, 'JRNL_DREAM');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="댓글 <@spring.message "bs.tooltip.modal.reg"/>">
                    <i class="bi bi-chat-left-dots p-0"></i>
                </button>
            </div>
            <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
            <div class="col-1 py-3 jrnl-dream-cn d-flex justify-content-between w-50px gap-1">
                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="JrnlDream.mdfModal({{postNo}}, '{{stdrdDt}}');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 꿈 <@spring.message "bs.tooltip.modal.mdf"/>">
                    <i class="bi bi-pencil-square p-0"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light-danger btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="JrnlDream.delAjax({{postNo}});"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 꿈 <@spring.message "bs.tooltip.del"/>">
                    <i class="bi bi-trash p-0"></i>
                </button>
            </div>
        </div>
        {{#if (exists comment.list)}}
            <div class="row py-2">
                <div class="col-1 jrnl-dream-cn" style="width:135px;"></div>
                <div class="col ms-10 text-noti">
                    {{#each comment.list}}
                        <div class="row">
                            <div class="col div-textarea-smp me-10">- {{cn}}</div>
                            <div class="col-1">
                                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                                    onclick="dF.Comment.modal.mdfModal({{postNo}});"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 꿈 <@spring.message "bs.tooltip.modal.mdf"/>">
                                    <i class="bi bi-pencil-square p-0"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-light-danger btn-outlined ms-2 py-1 px-2 cursor-pointer"
                                        onclick="dF.Comment.modal.delAjax({{postNo}});"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 꿈 <@spring.message "bs.tooltip.del"/>">
                                    <i class="bi bi-trash p-0"></i>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    {{else}}
        <div class="row jrnl-day d-flex-center">
            저널 꿈 검색 결과가 없습니다.
        </div>
    {{/each}}
</script>
