<#--
 * 저널 일자(jrnl_day) > 등록/수정 Template
 * @included_in : _jrnl_day_reg_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_day_reg_template">
    <input type="hidden" name="jrnl_day_no" value="{{jrnl_day_no}}">

    <#--begin::Row-->
    <div class="row row-cols-lg-2 mb-3">
        <div class="col-xl-2 col-2 d-flex-center">
            <label class="fs-6 fw-bold mb-2 required" for="jrnlDt">날짜</label>
        </div>
        <div class="col-xl-2 col-5 d-flex flex-column {{#if (equals dtUnknownYn "Y")}}d-none{{/if}}" id="jrnlDtDiv">
            <div class="d-flex align-items-center mt-1">
                <span class="menu-icon me-md-2 vertical-middle">
                    <label for="jrnlDt"><i class="bi bi-calendar3 fs-2 cursor-pointer"></i></label>
                </span>
                <input class="form-control form-control-solid w-150px required" name="jrnlDt" id="jrnlDt" placeholder="꿈꾼 일자" value="{{jrnlDt}}" />
            </div>
            <div id="jrnlDt_valid_span"></div>
        </div>
        <div class="col-xl-2 col-5 d-flex flex-column align-items-center col-form-label">
            <div class="form-check form-switch form-check-custom form-check-solid"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="날짜 미상시 입력한 대략일자 위치로 정렬됩니다.">
                <label class="form-check-label cursor-pointer" for="dtUnknownYn" id="dtUnknownYnLabel" {{checkedStyle (trueFalse dtUnknownYn "Y//N") "color" "blue//gray"}}>
                    날짜미상
                </label>
                <i class="bi bi-question-circle cursor-pointer ms-1 me-5"></i>
                <input class="form-check-input" type="checkbox" value="Y" name="dtUnknownYn" id="dtUnknownYn" {{checkedIf (trueFalse dtUnknownYn "Y//N")}} />
            </div>
        </div>
        <div class="col-xl-3 col-5 {{#unless (equals dtUnknownYn "Y")}}d-none{{/unless}}" id="aprxmtDtDiv">
            <div class="d-flex align-items-center mt-1">
                <span class="menu-icon me-md-2 vertical-middle">
                    <label for="searchStartDt"><i class="bi bi-calendar3 fs-2 cursor-pointer"></i></label>
                </span>
                <input class="form-control form-control-solid w-150px required" name="aprxmtDt" id="aprxmtDt" placeholder="대략일자" value="{{aprxmtDt}}" />
            </div>
            <div id="aprxmtDt_valid_span"></div>
        </div>
    </div>
</script>