<#--
* 캐시 상세 모달 partial
* @included_in : _cache_dtl_modal_template.hbs
-->

<script type="text/x-handlebars-template" id="tag_list_partial">
    <span class="text-muted cursor-pointer pe-1"
          onclick="{{module}}.dtlModal({{refTagNo}}, '{{tagNm}}');"
          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="해당 태그가 등록된 게시물 목록 팝업을 호출합니다.">
        #
        <span class="border-bottom text-primary fw-lighter opacity-hover">
            {{#if (exists ctgr)}}
               <span class="fs-7 text-noti">[{{ctgr}}]</span>
            {{/if}}
            {{tagNm}}
        </span>
    </span>
</script>
