<#--
* 캐시 상세 모달 partial
* @included_in : _cache_dtl_modal_template.hbs
-->

<script type="text/x-handlebars-template" id="tag_list_sized_partial">
    <span class="py-2 me-3 cursor-pointer opacity-hover"
          onclick="{{module}}.dtlModal({{tagNo}}, '{{tagNm}}');"
          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="해당 태그가 등록된 게시물 목록 팝업을 호출합니다.">
        <span class="{{tagClass}}">
            {{#if (exists ctgr)}}
                <span class="fs-7 text-noti">[{{ctgr}}]</span>
            {{/if}}
            <span class="em_{{tagNm}}">{{tagNm}}</span>
        </span>
        <span class="fs-9 text-noti fw-normal" style="margin-left:-0.25em;">{{contentSize}}</span>
    </span>
</script>
