{{!--
  -- 메뉴 > 카드 Template
  -- @included_in : menu_page.ftlh
  --}}
<script type="text/x-handlebars-template" id="menu_reg_template">
    <!-- form start -->
    <input type="hidden" name="menuNo" id="menuNo" value="{{menuNo}}" placeholder="menuNo">
    <input type="hidden" name="menuTyCd" id="menuTyCd" value="{{menuTyCd}}" placeholder="menuTyCd">
    <input type="hidden" name="upperMenuNo" id="upperMenuNo" value="{{upperMenuNo}}" placeholder="upperMenuNo">
    <div class="row mb-3">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold">
                상위메뉴 이름
            </label>
        </div>
        <div class="col-10 col-form-label">
            <div class="ps-2 text-gray-600 ls-1">
                {{#if (equals menuTyCd "${Constant.MENU_TY_MAIN!}")}}
                    (root)
                {{else}}
                    {{upperMenuNm}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold required">
                메뉴 이름
            </label>
        </div>
        <div class="col-10">
            <input type="text" name="menuNm" id="menuNm" class="form-control d-inline-block required" value="{{menuNm}}">
        </div>
        <div class="col-2"></div>
        <div class="col-6"><span id="menuNmSpan"></span></div>
    </div>
    <div class="row mb-3">
        <div class="col-2 d-flex-center">
            <label for="menuNm" class="col-form-label fw-bold required">
                메뉴 아이콘
            </label>
        </div>
        <div class="col-1 d-flex-center w-5">
            <div id="menu_icon_div">
                {{#if (exists icon)}}
                    {{{icon}}}
                {{else}}
                    -
                {{/if}}
            </div>
        </div>
        <div class="col-8 d-flex align-items-center text-center">
            <textarea name="icon" id="icon"
                      class="form-control form-control-sm form-control-solid required" rows="2"  maxlength="200" placeholder="아이콘 html을 입력하세요.">{{icon}}</textarea>
        </div>
        <div class="col-1 d-flex align-items-center">
            <div class="btn btn-sm btn-icon btn-light-primary" onclick="Menu.refreshIcon();"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="아이콘을 미리보기합니다.">
                <i class="bi bi-arrow-repeat"></i>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 text-center">
            <label for="url" class="col-form-label fw-bold">
                메뉴 URL
            </label>
        </div>
        <div class="col-10">
            <input type="text" name="url" id="url" class="form-control d-inline-block number" value="{{url}}">
        </div>
        <div class="col-2"></div>
        <div class="col-10"><span id="menuNoSpan"></span></div>
    </div>

    <div class="separator my-8"></div>

    <div class="row mb-2">
        <div class="col-2 text-center">
            <label class="col-form-label fw-bold">메뉴 옵션</label>
        </div>
        <div class="col-10">
            <div class="form-check col-form-label">
                <input class="form-check-input" type="checkbox" name="state.useYn" id="useYn" value="Y" {{#if (equals state.useYn "Y")}}checked{{/if}}>
                <label class="form-check-label" for="useYn">메뉴 숨김</label>
            </div>
        </div>
    </div>
</script>