<#--
 * 일정 > 전체 일정 > 일정 등록 Template
 * @included_in : schdul_cal
 -->

<script type="text/x-handlebars-template" id="schdul_reg_modal_template">
    <input type="hidden" name="postNo" id="postNo" value="{{postNo}}">
    <input type="hidden" name="prvtYn" id="prvtYn" value="{{#if isPrvt}}Y{{else}}N{{/if}}">

    <#--begin::Row-->
    <div class="row mb-3">
        <div class="col-xl-2 col-2">
            <label class="col-form-label text-center fs-6 fw-bold required">제목</label>
        </div>
        <div class="col-xl-3 col-4">
            <select name="schdulCd" id="schdulCd" class="form-select form-select-solid required"
                    onchange="dF.Schdul.schdulCd(this);">
                <option value="">--구분--</option>
                <#list SCHDUL_CD![] as topic>
                    {{#if isPrvt}}
                        {{#unless (equals "${topic.dtlCd!}" "HLDY")}}
                            {{#unless (equals "${topic.dtlCd!}" "CEREMONY")}}
                                {{#unless (equals "${topic.dtlCd!}" "TLCMMT")}}
                                    <option value="${topic.dtlCd!}" {{selectedIf (equals schdulCd "${topic.dtlCd!}")}} >[${topic.dtlCdNm!}]</option>
                                {{/unless}}
                            {{/unless}}
                        {{/unless}}
                    {{else}}
                        <option value="${topic.dtlCd!}" {{selectedIf (equals schdulCd "${topic.dtlCd!}")}} >[${topic.dtlCdNm!}]</option>
                    {{/if}}
                </#list>
            </select>
            <span id="schdulCd_validate_span"></span>
        </div>
        <div class="col-xl-7 col-6">
            <input type="text" name="title" id="title" class="form-control form-control-solid required"
                   value="{{title}}" placeholder="제목" maxlength="120" />
            <span id="title_validate_span"></span>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-3">
        <div class="col-xl-2 col-2 d-flex align-items-center justify-content-between">
            <label class="col-form-label text-center fs-6 fw-bold" for="prtcpnt">
                참여자
            </label>
            <span class="btn btn-sm btn-icon btn-light-primary" onclick="dF.Schdul.addPrtcpnt();">
                <i class="fas fa-plus float-end"></i>
            </span>
        </div>
        {{#if isPrvt}}
            <div class="col-xl-10 col-10 d-flex align-items-center">
                <div class="text-noti fs-small">※개인용 일정의 경우 참여자에게 공유할 수 있습니다. (본인과 참여자 화면에만 노출됩니다.)</div>
            </div>
            <div class="col-xl-2 col-2"></div>
        {{/if}}
        <div class="col-xl-10 col-10" id="schdul_reg_prtcpnt_div">
            {{#prtcpntList}}
                <div id="prtcpntRow{{@index}}" class="d-flex align-items-center mb-1">
                    <select name="prtcpntList[{{@index}}].userId" class="form-select form-select-solid me-2">
                        <option value="">--선택--</option>
                        <#list crtdUserList![] as user>
                            <option value="${user.userId!}" id="${user.userId!}" {{selectedIf (equals userId "${user.userId}")}}>${user.userNm!}</option>
                        </#list>
                    </select>
                    <span class="btn btn-sm btn-icon btn-light-danger" onclick="dF.Schdul.removePrtcpnt({{@index}});">
                        <i class="fas fa-trash float-end"></i>
                    </span>
                </div>
            {{/prtcpntList}}
            <#--handlebars template goes in here-->
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-3">
        <div class="col-xl-2 col-2">
            <label class="col-form-label text-center fs-6 fw-bold mb-2" for="cn">내용</label>
        </div>
        <div class="col-xl-10 col-10">
            <textarea name="cn" id="cn" class="form-control form-control-solid h-100px"
                      wrap="hard" maxlength="500">{{cn}}</textarea>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row row-cols-lg-2 mb-3">
        <div class="col-xl-2 col-2">
            <label class="col-form-label text-center fs-6 fw-bold mb-2" for="schdulResn">일정</label>
        </div>
        <div class="col-xl-5 col-5">
            <label class="fs-6 mt-3 mb-2 required" for="bgnDt">시작일</label>
            <input name="bgnDt" id="bgnDt" class="form-control form-control-solid required"
                   value="{{bgnDt}}" placeholder="시작일" readonly/>
            <div id="bgnDt_validate_span"></div>
        </div>
        <div class="col-xl-5 col-5" id="endDtDiv">
            <label class="fs-6 mt-3 mb-2" for="endDt">종료일</label>
            <input name="endDt" id="endDt" class="form-control form-control-solid"
                   value="{{endDt}}" placeholder="종료일" readonly />
            <div id="endDtSpan" class="text-noti">※미입력시 시작일자와 같게끔 처리됩니다.</div>
        </div>
    </div>
    {{^if isPrvt}}
        <#--페이지:: 잔디 알림 발송 영역-->
        <@component.jandi_reg_area 2 "SCHDUL" />
    {{/if}}
</script>