<#--
 * 저널 일자(jrnl_day) > 등록/수정 Template
 * @included_in : _jrnl_day_reg_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_day_dtl_modal_template">
    <input type="hidden" name="postNo" value="{{postNo}}">

    <#--begin::Row-->
    <div class="row row-cols-lg-2 mb-3 d-flex flex-column">
        <div class="d-flex align-items-center mt-1 gap-1">
            <i class="bi bi-calendar3 fs-6 me-1"></i>
            {{stdrdDt}}
            {{#if (exists jrnlDt)}}
                <span class="fs-8 text-gray-600">({{jrnlDtWeekDay}})</span>
            {{else}}
                <i class='bi bi-exclamation-circle cursor-pointer text-noti blink fs-7 ms-2'
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="불확실한 일자입니다."></i>
            {{/if}}
            <span class="fs-7 ms-4 text-muted">{{{weather}}}</span>
        </div>
        <div class="mt-3">
            {{#tag.list}}
                {{> tag_list_partial this module="dF.JrnlDayTag"}}
            {{/tag.list}}
        </div>
    </div>

    <div class="row p-5">
        {{#if (exists jrnlDiaryList)}}
            <label class="d-flex align-items-center mt-2">
                <span class="text-gray-700 fs-6 ps-5 fw-bolder">
                    <@spring.message 'diary'/>
                    <i class="bi bi-book fs-4 pe-1"></i>
                </span>
            </label>
            {{#each jrnlDiaryList}}
                <div class="row jrnl-diary-item">
                    <div class="col-1 py-3 d-flex-between border-2 border-gray-300 border-end ps-10 me-4 h-75" style="width:85px;">
                        <div># {{idx}}</div>
                    </div>
                    <div class="col jrnl-diary-cn">
                        {{> jrnl_diary_cn_partial this collapse="collapse-4"}}
                    </div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> comment_reg_btn_partial this contentType="JRNL_DIARY"}}
                    </div>
                    <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> jrnl_diary_mdf_btn_partial this}}
                    </div>
                </div>
            {{/each}}
        {{/if}}
        {{#if hasDream}}
            <label class="d-flex align-items-center mt-2">
                <span class="text-gray-700 fs-6 ps-5 fw-bolder">
                    <@spring.message 'dream'/>
                    <i class="bi bi-moon-stars fs-4 pe-1"></i>
                </span>
            </label>
            {{#each jrnlDreamList}}
                <div class="row jrnl-item">
                    <div class="col-1 py-3 d-flex-between border-2 border-gray-300 border-end ps-10 me-4 h-75" style="width:85px;">
                        <div># {{idx}}</div>
                    </div>
                    <div class="col py-3 jrnl-dream-cn {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}">
                        {{> jrnl_dream_cn_partial this collapse="collapse-4"}}
                    </div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> comment_reg_btn_partial this contentType="JRNL_DREAM"}}
                    </div>
                    <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> jrnl_dream_mdf_btn_partial this}}
                    </div>
                </div>
            {{/each}}
            {{#each jrnlElseDreamList}}
                <div class="row jrnl-item">
                    <div class="col-1 py-3 d-flex-between border-2 border-gray-300 border-end ps-10 me-4 h-75" style="width:85px;">
                        <div>
                            -
                        </div>
                    </div>
                    <div class="col py-3 jrnl-dream-cn bg-secondary">
                        {{> jrnl_diary_cn_partial this  collapse="collapse-4" elseDreamYn="Y"}}
                    </div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> comment_reg_btn_partial this contentType="JRNL_DREAM"}}
                    </div>
                    <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
                    <div class="col-1 py-3 d-flex-between w-50px gap-1">
                        {{> jrnl_dream_mdf_btn_partial this}}
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</script>