<#--
 * 레이아웃 > 단락(section) 목록 Handlebars template
 * @included_in : 단락 기능이 있는 페이지들
 -->

<!--begin::section-->

<script type="text/x-handlebars-template" id="sectn_list_template">
    {{#if this.length}}
        <div class="separator separator-dashed border-gray-300 my-8"></div>
        <div class="draggable-zone">
            {{#each this}}
                <!--begin::accordion Item-->
                <div id="{{postNo}}" class="row d-flex align-items-center mb-4 sortable-item draggable">
                    <!--begin::accordion item header-->
                    <div class="accordion-header py-3 d-flex align-items-center gap-2 {{#ifYn deprcYn}}collapsed{{/ifYn}}" data-bs-toggle="collapse" data-bs-target="#kt_accordion_sectn_item_{{@index}}">
                        <!--begin::sort handle icon-->
                        <div class="draggable-handle d-flex align-items-center cursor-move"
                             data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="드래그하여&#10;항목을 이동합니다.">
                            <i class="ki-duotone ki-abstract-14 fs-2x">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <!--begin::collapse icon-->
                        <span class="accordion-icon">
                            <i class="ki-duotone ki-plus-square fs-3 accordion-icon-off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                            <i class="ki-duotone ki-minus-square fs-3 accordion-icon-on"><span class="path1"></span><span class="path2"></span></i>
                        </span>
                        <!--begin::title-->
                        <h3 class="fs-4 fw-semibold mb-1 {{#ifYn deprcYn}}strikethrough text-muted{{/ifYn}}">
                            ＜ {{title}} ＞
                        </h3>
                    </div>
                    <!--begin::accordion item Body-->
                    <div id="kt_accordion_sectn_item_{{@index}}" class="fs-6 d-flex collapse {{^ifYn deprcYn}}show{{/ifYn}} ps-10">
                        <div class="col mx-5 fs-4 fw-normal {{#ifYn deprcYn}}text-muted strikethrough{{/ifYn}}">
                            {{{markdownCn}}}
                            {{#if comment.hasComment}}
                                <div class="row pb-2 fs-4">
                                    {{#each comment.list}}
                                        {{> comment_list_partial this}}
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="col-1 py-3 w-50px">
                            <button type="button" class="btn btn-light-primary btn-outlined ms-2 py-1 px-3 h-30px cursor-pointer"
                                    onclick="dF.Comment.modal.regModal({{postNo}}, '{{contentType}}');"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'comment'/> <@spring.message "bs.tooltip.modal.reg"/>">
                                <i class="bi bi-chat-left-dots p-0"></i>
                            </button>
                        </div>
                        <div class="col-1 py-3 pe-0 me-2 w-10px">
                            <div class="border-2 border-gray-300 border-end h-30px">&nbsp;</div>
                        </div>
                        <div class="col-1 py-3 w-125px">
                            <button type="button" class="btn btn-light-primary btn-outlined ms-2 py-1 px-3 h-30px cursor-pointer"
                                    onclick="dF.Sectn.mdfModal({{postNo}});"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="단락 <@spring.message 'bs.tooltip.modal.mdf'/>">
                                <i class="bi bi-pencil-square p-0"></i>
                            </button>
                            <button type="button" class="btn btn-light-danger btn-outlined ms-2 py-1 px-3 h-30px cursor-pointer"
                                    onclick="dF.Sectn.delAjax({{postNo}});"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="단락 <@spring.message 'bs.tooltip.del'/>">
                                <i class="bi bi-trash p-0"></i>
                            </button>
                        </div>
                    </div>
                    {{#if (lt @index (sub ../length 1))}}
                        <div class="separator separator-dashed border-gray-300 my-6"></div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</script>