<#--
 * 단락(section) 등록/수정 헤더 Template
 * @included_in : 단락 기능이 있는 페이지들
 -->

<script type="text/x-handlebars-template" id="sectn_reg_header_template">
    <input type="hidden" name="postNo" value="{{postNo}}"/>
    <input type="hidden" name="refPostNo" value="{{refPostNo}}" />
    <input type="hidden" name="refContentType" value="{{refContentType}}" />
    <input type="hidden" name="actvtyCtgrCd" value="${actvtyCtgrCd!}" >

    <#--begin::Row-->
    <div class="row d-flex mb-8">
        <div class="col-12">
            <label class="d-flex align-items-center mb-2" for="title">
                <span class="text-gray-700 fs-6 fw-bolder">제목</span>
                <span class="text-gray-500 fs-9">(최대 50자)</span>
            </label>
        </div>
        <div class="col-lg-{{#if (exists postNo)}}11{{else}}12{{/if}}">
            <input type="text" name="title" id="title" class="form-control"
                   value="{{title}}" placeholder="제목" maxlength="100" />
            <div id="title_validate_span"></div>
        </div>
        {{#if (exists postNo)}}
            {{^ifYn elseDreamYn}}
                <div class="col-1 d-flex ps-0">
                    <div class="d-flex-center p-2 fw-bold fs-5 text-gray-600">#</div>
                    <input type="number" class="form-control form-control-sm" name="idx" id="idx" min="1" max="99"
                           value="{{idx}}" placeholder="인덱스" maxlength="2"
                           data-bs-toggle="tooltip" data-bs-placement="top" title="일자 내에서의 정렬 인덱스입니다.">
                </div>
            {{/ifYn}}
        {{/if}}
    </div>
    <#--begin::Row-->
    <div class="row d-flex mb-8">
        <div class="col-2 d-flex align-items-center">
            <div>
                <label class="text-gray-700 fs-6 fw-bolder cursor-help"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="해당 글은 취소선으로 처리됩니다.">
                    만료 여부
                    <i class="bi bi-question-circle"></i>
                </label>
                <div class="form-check form-switch form-check-custom form-check-solid cursor-pointer">
                    <input type="checkbox" name="deprcYn" id="deprcYn" class="form-check-input"
                           value="Y" {{checkedYn deprcYn}} />
                    <label class="form-check-label fw-bold fs-6 ms-3" for="deprcYn" id="deprcYnLabel" {{{checkedYnStyle deprcYn "color" "red//gray"}}}>
                        {{#ifYn deprcYn}}만료{{else}}해당없음{{/ifYn}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</script>