<#--
 * Handlebars 첨부파일 영역 partial
 -->

{{#atchFileInfo}}
    <div class="d-flex flex-stack flex-wrap mb-3 bg-light">
        <div class="col-xl-2">
            <div class="fs-6 fw-bold col-form-label px-5">
                첨부파일
            </div>
        </div>
        <div class="col-xl-10 my-3">
            {{#atchFileList}}
                <div class="row my-1">
                    <div class="col-xl-8">
                        <a href="javascript:void(0);"
                           onclick="cF.util.fileDownload('{{atchFileNo}}', '{{atchFileDtlNo}}');"
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'bs.tooltip.file.download'/>">
                            <i class="fas fa-file-download fs-15 me-1"></i>
                            {{orgnFileNm}}({{fileSize}}byte)
                        </a>
                    </div>
                </div>
            {{else}}
                <span>첨부된 파일이 없습니다.</span>
            {{/atchFileList}}
        </div>
    </div>
{{/atchFileInfo}}
