<#--
 * 게시판 > 태그 게시물 목록 Template
 -->

<script type="text/x-handlebars-template" id="tag_dtl_post_list_template">
    <!--begin::Question-->
    <div class="fs-4 mx-4 px-4 fw-normal text-gray-800">
        <table class="table align-middle table-row-dashed fs-small gy-3 table-fixed hoverTable mb-3">
            <#--begin::Table head-->
            <thead>
                <tr class="text-start fw-bolder fs-7 text-uppercase gs-0 text-muted">
                    <th class="col-lg-6 col-6 text-center wb-keepall">제목</th>
                    <th class="col-2 text-center wb-keepall">작성자</th>
                    <th class="col-lg-2 text-center wb-keepall hidden-table">등록일</th>
                    <th class="text-center wb-keepall w-15 hidden-table">조회수</th>
                </tr>
            </thead>
            <#--begin::Table body-->
            <tbody>
                {{#each this}}
                    <tr class="bg-hover-secondary"
                        onclick="Page.dtl('{{postNo}}');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="해당 글로 이동합니다.">
                        <td class="text-start px-2">
                            <span class="vertical-middle">
                                {{#if hasCtgrNm}}
                                    <span class="ctgr-span ctgr-gray">{{ctgrNm}}</span>
                                {{/if}}
                                <span class="text-primary text-active-primary">{{title}}</span>
                            </span>
                            {{#if hasComment}}
                                <span class="mx-1 text-noti fs-x-small">
                                    [{{commentCnt}}]
                                </span>
                            {{/if}}
                        </td>
                        <td class="text-center col-form-label">
                            {{regstrNm}}
                        </td>
                        <td class="text-center hidden-table">
                            {{regDt}}
                        </td>
                        <td class="text-center hidden-table">
                            {{hitCnt}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</script>