<#--
 -- 메뉴(menu) > 하위메뉴 Template
 -- @included_in : menu_page.ftlh
 -->

<script type="text/x-handlebars-template" id="menu_sub_template">
    <li class="list-unstyled sortable-item draggable-sub" style="{{borderColor}}"
         id="{{menuNo}}" data-id="{{menuNo}}" data-type="{{menuTyCd}}" data-upper-menu-no="{{upperMenuNo}}">
        {{#if (equals upperMenuTyCd 'MAIN')}}
            <div class="menu-label fw-bolder text-muted fs-6 pb-1">{{ifEmpty menuLabel "-"}}</div>
        {{/if}}
        <div class="d-flex align-items-center justify-content-between rounded">
            <div class="d-flex align-items-center">
                 <div class="draggable-handle-sub cursor-move pt-1"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="드래그하여&#10;항목을 이동합니다.">
                    <i class="ki-duotone ki-abstract-14 fs-2x">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
                {{#if (exists icon)}}
                    <span class="ps-3 pe-0">
                        {{{icon}}}
                    </span>
                {{else}}
                    <span class="ps-3 pe-0">
                        ·
                    </span>
                {{/if}}
                <div class="ms-3 mb-0 text-dark cursor-pointer text-underline-dotted" onclick="Menu.mdfModal('{{menuNo}}');"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="수정 팝업을 호출합니다.">
                    <span class="title fs-5 {{^ifYn state.useYn}}strikethrough{{/ifYn}}">
                        {{menuNm}}
                        <span class="badge bg-secondary text-{{#if (equals upperMenuTyCd 'MAIN')}}dark{{else}}muted{{/if}} ms-1">
                            {{ifEmpty menuLabel "-"}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <div class="w-80px">
                    <div class="btn btn-sm btn-icon btn-light-primary btn-outlined cursor-pointer" {{#if (equals menuSubExtendTyCd "NO_SUB")}}style="visibility:hidden;"{{/if}}
                         onclick="Menu.regModal('${Constant.MENU_TY_SUB!}', {{menuNo}}, '{{menuNm}}');"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="하위메뉴 추가 팝업을&#10;호출합니다.">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="btn btn-sm btn-icon btn-light-danger cursor-pointer"
                         onclick="Menu.delAjax({{menuNo}});"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="이 메뉴를 삭제합니다.">
                        <i class="bi bi-trash d-flex-center opacity-75"></i>
                    </div>
                </div>
            </div>
        </div>
        <ul id="menu_sub_{{menuNo}}" class="sub-menu-list custom-scroll draggable-zone-sub">
            <!-- sub-menu area -->
        </ul>
    </li>
</script>