<#--
 * 저널 일자 (jrnl_day) > 상세 Template
 * @included_in : _jrnl_day_tag_dtl_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_day_tag_dtl_modal_template">
    {{#each this}}
        <div class="row jrnl-item">
            <div class="col-1 py-3 d-flex justify-content-between border-2 border-gray-300 border-end px-8 me-4 h-75 w-130px">
                <div>
                    <i class="bi bi-calendar3"></i> {{stdrdDt}}
                </div>
            </div>
            <div class="col py-3 d-flex align-items-center {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}">
                <button type="button" class="btn btn-sm btn-light-primary btn-outlined me-2 py-1 px-2 cursor-pointer"
                    onclick="dF.JrnlDay.dtlModal({{postNo}});"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="댓글 <@spring.message "bs.tooltip.modal.reg"/>">
                    <i class="bi bi-stickies p-0"></i>
                </button>
                {{#if (exists tag.list)}}
                    <div class="ms-2">
                        {{#tag.list}}
                            <span class="text-muted cursor-pointer pe-1"
                                  onclick="dF.JrnlDreamTag.dtlModal({{refTagNo}});"
                                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                                  title="해당 태그가 등록된 게시물 목록 팝업을 호출합니다.">
                                {{#if (exists ctgr)}}
                                    <span class="fs-7 text-noti">[{{ctgr}}]</span>
                                {{/if}}
                                #<span class="border-bottom text-primary fw-lighter opacity-hover">{{tagNm}}</span>
                            </span>
                        {{/tag.list}}
                    </div>
                {{/if}}
            </div>
            <div class="col-1 py-3 d-flex justify-content-between w-50px gap-1">
                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="dF.Comment.modal.regModal({{postNo}}, 'JRNL_DREAM');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="댓글 <@spring.message "bs.tooltip.modal.reg"/>">
                    <i class="bi bi-chat-left-dots p-0"></i>
                </button>
            </div>
            <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
            <div class="col-1 py-3 d-flex justify-content-between w-100px gap-1">
                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="$('#jrnl_tag_dtl_modal').modal('hide'); dF.JrnlDream.mdfModal({{postNo}}, '{{stdrdDt}}');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 일자 <@spring.message "bs.tooltip.modal.mdf"/>">
                    <i class="bi bi-pencil-square p-0"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light-danger btn-outlined ms-2 py-1 px-2 cursor-pointer"
                        onclick="dF.JrnlDream.delAjax({{postNo}});"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 일자 <@spring.message "bs.tooltip.del"/>">
                    <i class="bi bi-trash p-0"></i>
                </button>
            </div>
        </div>
        {{#if (exists comment.list)}}
            <div class="row pb-2">
                <div class="col-1 w-130px"></div>
                <div class="col ms-10 text-noti">
                    {{#each comment.list}}
                        <div class="row">
                            <div class="col div-textarea-smp me-10">- {{cn}}</div>
                            <div class="col-1">
                                <button type="button" class="btn btn-sm btn-light-primary btn-outlined ms-2 py-1 px-2 cursor-pointer"
                                    onclick="dF.Comment.modal.mdfModal({{postNo}});"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 일자 <@spring.message "bs.tooltip.modal.mdf"/>">
                                    <i class="bi bi-pencil-square p-0"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-light-danger btn-outlined ms-2 py-1 px-2 cursor-pointer"
                                        onclick="dF.Comment.modal.delAjax({{postNo}});"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 일자 <@spring.message "bs.tooltip.del"/>">
                                    <i class="bi bi-trash p-0"></i>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    {{/each}}
</script>