<#--
 * 게시판 정의(board_def) > 등록 Template
 * @included_in : _board_def_reg_modal.ftlh
-->

<script type="text/x-handlebars-template" id="board_def_reg_template">
    <input type="hidden" name="regYn" value="{{#if (notExists boardCd)}}Y{{/if}}{{#if (exists boardCd)}}N{{/if}}">
    <input type="hidden" name="useYn" value="N">

    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold required"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                   title="게시판을 특정할 때 내부적으로 사용되는 게시판 고유 코드를 입력합니다.&#10;(등록 후 수정할 수 없습니다.)">
                게시판 코드
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-6">
            {{#if (exists clCd)}}
                <div class="col-form-label">
                    <span class="text-noti fw-bold ps-1">{{clCd}}</span>
                    <input type="hidden" name="clCd" value="{{clCd}}">
                </div>
            {{else}}
                <input type="text" name="boardCd" id="boardCd" class="form-control form-control-solid required cddata"
                       value="{{boardCd}}" placeholder="게시판 코드" maxlength="16" >
                <div class="text-noti">※영문 대문자 및 숫자만 가능, 1~30자</div>
                <div id="boardCd_validate_span"></div>
            {{/if}}
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold required"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="게시판의 이름을 입력합니다.">
                게시판 이름
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-9">
            <input type="text" name="boardNm" id="boardNm" class="form-control form-control-solid required"
                   value="{{boardNm}}" placeholder="게시판 이름" maxlength="32" >
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold required"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click"
                   title="게시물을 작성할 때 사용할&#10;글분류 코드를 입력합니다.&#10;(코드 정보는 '코드 관리'에서&#10;관리할 수 있습니다.)">
                글분류 코드
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-9">
            <input type="text" name="ctgrClCd" id="ctgrClCd" class="form-control form-control-solid required"
                   value="{{ctgrClCd}}" placeholder="글분류 코드" maxlength="32" >
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="fw-bold">게시판 설명</label>
        </div>
        <div class="col-9">
            <textarea name="dc" id="dc" class="form-control form-control-solid h-100px"
                      wrap="hard" maxlength="1000" placeholder="게시판 설명을 입력합니다.">{{dc}}</textarea>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-3 col-form-label text-center">
            <label class="cursor-help fw-bold"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="'사용'으로 체크된 코드만&#10;실제 코드 사용시 조회됩니다.">
                사용 여부
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-9 text-center d-flex align-items-center">
            <div class="form-check form-switch form-check-custom form-check-solid">
                <input type="checkbox" name="state.useYn" id="useYn" class="form-check-input"
                       value="Y" {{checkedYn state.useYn}} />
                <label class="form-check-label ms-3" for="useYn" id="useYnLabel" {{checkedYnStyle state.useYn "color" "blue//gray"}}>
                    {{#ifYn state.useYn}}미{{/ifYn}}사용
                </label>
            </div>
        </div>
    </div>
</script>